*{margin: 0px; padding: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{font-family: "Lato", sans-serif; font-size:14px; color: rgba(0,0,0,0.8);overflow-x: hidden;}
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
.bg-blue{background:#233a95 }

@media(min-width: 1300px){
    .container, .container-lg, .container-md, .container-sm, .container-x1{
        max-width: 1200px;
    }
}
::-webkit-scrollbar{
    width: 8px !important;
    height: 8px !important;
}
::-webkit-scrollbar-thumb{
    background-color: #ccc !important;
}
::-webkit-scrollbar-track{
    background-color: transparent !important;
}
.badge{
    display: inline-block;
    padding: 7px 10px ;
}
button{
    text-transform: capitalize !important;
}
.badge.bg-success{
    background: #e5f8ed !important;
    color: #16b858 !important;
}
.btn-blue{
    background: #233a95 !important;
    color:#fff !important;
    text-transform: capitalize;
}
.btn-big{
    font-size:15px !important ;
    padding:7px 20px !important;
    min-width: auto !important;
}
.btn-round{
    border-radius: 30px !important;
}

.btn-sml{
    font-size: 13px !important;
    color: #000;
    text-transform: capitalize !important;

}
.btn-sml svg{
    font-size: 20px !important;

}
.headerWrapper {border-bottom: 1px solid rgba(0,0,0,0,1); padding-bottom:10px;}
.headerWrapper .top-strip{padding: 8px 0px;}
.headerWrapper .top-strip p{color: #fff; font-size: 12px;font-weight: 500;}

.headerWrapper .header{width: 100%; height:auto; padding:10px 0px;}
.logoWrapper .header{width:100%; height: auto;padding: 25px 17px;}
.logoWrapper img{width:70%; border-radius: 15px; margin-left: -100px;}


.headerWrapper .header .part2 .countryDrop{width:200px; height: auto; min-width: 150px; color:#000 !important; border: 1px solid rgba(0,0,0,2) !important
; border-radius: 7px !important; line-height: 16px; padding: 10px 20px !important;margin-left: -90px;}

nav .navPart1{
    max-width: 20%;
    flex: 0 0 20%;
}
nav .navPart2{
    max-width: 80%;
    flex: 0 0 80%;
}

.headerWrapper .header .part2 .countryDrop{text-align: left; justify-content: flex-start !important;}
.headerWrapper .header .part2 .countryDrop .label{font-size: 14px !important; text-transform: capitalize !important; color: rgba(0,0,0,7) !important;}
.headerWrapper .header .part2 .countryDrop .name{font-size: 15px !important; text-transform: capitalize !important; color: #233a95 !important; font-weight: 700;}
.headerWrapper .header .part2 .CountryDrop span.ml-auto svg{opacity: 0.7;}

.locationModal .MuiPaper-elevation{
    position: relative;
    padding: 25px;
}
.locationModal .countryList{
    margin-bottom: 0px;
}
.locationModal .countryList li{
    width: 100% !important;         
    height: auto !important;       
    border-radius: 0 !important;    
    list-style: none;
    padding: 5px 0;
    display: flex
}
.locationModal .countryList li button{
    width: 100%;
    text-transform: none !important;
    color: #000 !important;
    justify-content: flex-start !important;
    white-space: nowrap;         
    overflow: hidden;
    text-overflow: ellipsis;      
    font-size: 16px;
    padding: 6px 10px;
    text-align: left;
    background: none;
    border: none;
}
.localModal .contryList li button:hover{
    background: #f1f1f1;
}
.localModal .countryList li button.active{
    background: #d8b8b8 !important;
}
.locationModal .close_{
    position:absolute !important;
    top:10px;
    right: 10px;
    color:#000 !important;
    min-width:30px !important;
}
.locationModal .close_ svg{
    font-size:20px;
}
.locationModal .close_ :hover{
    background-color:#ea2b0f;
}
.close_{
    position:absolute !important;
    top:10px;
    right: 10px;
    color:#000 !important;
    min-width:30px !important;
}
.close_ svg{
    font-size:20px;
}
.close_ :hover{
    background-color:#ea2b0f;
}
 .headerSearch {
    position: relative; 
    width: 60%;
    height: 60px;
    background: #f3f4f7;
    padding: 10px;
    border: 1px 
    solid rgba(0,0,0,1);
    border-radius: 8px;

  }
.headerSearch input {
    background: transparent !important;
    outline: none !important;
    font-size: 14px;
    color: rgba(0,0,0,0.8);
    width: 100%;
    height: 40px;
    border: 0px !important;
    padding: 0px 50px 0px 20px !important; 
    box-sizing: border-box;
    margin-right: 125px;
  }

 .headerSearch button {
    position: absolute;
    top: 10px;          
    right: 10px;         
    z-index: 70;
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    background: #ccc;
    border: none;
    color: #000;
    cursor: pointer;
    opacity: 0.6;
  }
.header .headerSearch button svg{
    font-size: 25px;
}

.header .part3 .circle{
    align-items: center;
    justify-self: content;
    min-width: 50px !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    border: 1px solid rgba(0,0,0,1) !important;
    color: #000;
}
.header .part3 .circle svg{
    font-size: 25px;
}
.cartTab .price{
    font-size: 18px;
    color: rgba(0,0,0,8);
    font-weight: 700;
}
.cartTab button{
    background: #fff1ee !important;
}
.cartTab button svg{
    color: #ea2b0f !important;
}
.cartTab .count{
    position: absolute; 
    top: -6px;
    right: -4px;
    background: #ea2b0f; 
    border-radius: 50%;
    color: #fff;
    display: flex;
    width: 25px;
    height: 25px;
}

nav .navPart1 .catWrapper{
    position: relative;
}
nav .navPart1 .catWrapper .sidebarNav{
 
    width: 100%;
    height: 0px;
    opacity: 0;
    background: #ffff;
    position: absolute;
    top: 130%;
    left: 0px;
    margin-left: -135px;
    border: 1px solid rgba(0,0,0,1);
    padding: 15px 0px;
    transition: all 0.2s;
    visibility: hidden;
    z-index: 100;
}
nav .navPart1 .catWrapper .sidebarNav.open{
    height:auto;
    opacity: 1;
    visibility: inherit;
}


nav .navPart1 .catWrapper .sidebarNav ul li button{
    color: #000;
    width: 100%;
    justify-content: flex-start;
    text-transform: capitalize !important;
}
nav .navPart1 .catWrapper .sidebarNav ul li{
 
    width: 100%;
    list-style: none;
    padding: 0px 10px;
   
 }
 nav .navPart1 .catWrapper .sidebarNav ul li button:hover{
    background: transparent !important;
 }

 nav .navPart1 .catWrapper .sidebarNav ul li button svg{
    font-size: 13px;
    opacity: 0.6;
 }


nav .navPart1 .catWrapper .sidebarNav ul li{
    position: static;
    
}
nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
    position: absolute;
    top:0px;
    left: 105%;
    width:250px;
    height:100%;
    background:#ffff;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
}
nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
    left:100%;
    
}
nav .part1 .catWrapper .sidebarNav ul li:hover .submenu button{
    border-radius: 0px !important;
}



nav .allCatTab{
    background-color: #2bbef9 !important;
    color: white;
    padding: 10px 15px !important;
    border-radius: 30px;
    font-weight: bold;
    text-transform: none;
    margin-left: -130px;
  
}
nav .allCatTab *{
    color: #ffff;
}
nav .allCatTab:hover{
    background: #2bbef9;
}
nav .allCatTab .text{
    font-weight: 700;
    font-size: 14px;
    
}
nav .allCatTab .icon1 svg{
    font-size: 15px !important;

}
nav .allCatTab .icon2 svg{
    font-size: 20px !important;
    
}

nav.navPart2 ul{
    margin-bottom: 20px;
    flex-wrap: nowrap;
    overflow-x: auto; /* Nếu cần cuộn ngang khi quá dài */
}
nav .navPart2 ul li a{
    text-decoration: none;
}
nav .navPart2 ul li{
    padding-bottom:20px;
}
nav .navPart2 ul li a button{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
    margin-right: 5px;
    white-space: nowrap; 
    
}

nav .navPart2 ul li svg{
    font-size:20px;
     
}

nav .navPart2 ul li a:hover{
    background-color: #f0faff;
    color: #2bbef9;
}

nav .navPart2 ul li{
    position:relative;
}
nav .navPart2 ul li .submenu{
    position:absolute;
    top:100%;
    left: 0px;
    min-width:200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 100;
}
nav .navPart2 ul li .submenu a{
   display: block;
   width:100%;
}
nav .navPart2 ul li .submenu a button{
    width:100%;
    justify-content: flex-start !important;
    border-radius: 0px !important;
    text-transform: capitalize !important;
    font-weight: 500;
}
nav .navPart2 ul li:hover .submenu{
    opacity: 1;
    visibility: inherit;
    top:100%;
}
  
.homeBannerSection{
    margin-top: -18px ;
    text-align: center;
    margin-left: 50px;
    position:relative;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    max-height: 400px;
}

.homeBannerSection .item img{
  object-fit: cover;
  display: inline-block;
  border-radius: 8px; /* Tuỳ chọn: làm ảnh mềm mại hơn */
  max-width: 100%;
  height: 100%;
  width: 100%;

}
.homeBannerSection .slick-arrow{
    position: absolute;
    top:45%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
    background: #000;
    border-radius:80%;
    font-family: FontAwesome !important;
    font-weight: bold;
    
}

.homeBannerSection .slick-arrow.slick-next{
    right: 25px !important;
    opacity: 0.2;
    transition: opacity 0.3s ease;
}
.homeBannerSection .slick-arrow.slick-prev{
    left: 25px !important;
     opacity: 0.2; 
    transition: opacity 0.3s ease;
}
.homeBannerSection .slick-arrow.slick-next::before{
    font-family: FontAwesome !important;
    color: #fff;
   
}
.homeBannerSection .slick-arrow.slick-prev::before{
    font-family: FontAwesome !important;
    color: #fff;
}
.homeBannerSection .slick-arrow.slick-next:hover{
    background-color: #ea2b0f;
    opacity: 1;
}
.homeBannerSection .slick-arrow.slick-prev:hover{
    background-color: #ea2b0f;
    opacity: 1;
}


.cursor{
    cursor: pointer;
}
.text-light{
    color:#8b8b8b !important;
}
.text-sml{
    font-size: 14px;
}
.homeProducts{
    padding: 25px 0px;
    width:100%;
}
.homeProducts .banner{
   width: 100%;
    border-radius: 7px;
    
   
}
.homeProducts .banner img{
    width: 150%;
    height: auto;
    max-width: none;
    display: block;
}
.homeProducts .banner .cursor{
    position: relative;
    left: -230px;
    border-radius: 20px;
   
}
.homeProducts .info{
    position: relative;
    left: -100px;
}
.productRow .hd{
    font-size:25px;
    font-weight: 600;
}

.viewAllBtn{
    padding: 5px 25px in !important;
    background: #ffff;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 30px !important;
    color: #000;
    font-weight: 600;
    text-transform: capitalize !important;
}
.viewAllBtn svg{
    font-size: 20px;
}
.viewAllBtn:hover{
    background: #d8b8b8;
}
/* Mũi tên trái & phải */
.bestSellerSlider .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 10;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  font-family: FontAwesome !important;
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

.bestSellerSlider .slick-arrow:hover {
  background-color: #ea2b0f;
  opacity: 1;
}

/* Vị trí mũi tên trái */
.bestSellerSlider .slick-prev {
  left: -15px;
}

/* Vị trí mũi tên phải */
.bestSellerSlider .slick-next {
  right: -15px;
}

/* Biểu tượng mũi tên */
.bestSellerSlider .slick-prev::before,
.bestSellerSlider .slick-next::before {
  font-family: FontAwesome !important;
  color: #fff;
  font-size: 20px;
}

/* Nếu muốn dấu chấm nhỏ ở dưới */
.bestSellerSlider .slick-dots {
  bottom: -30px;
}

/* Tùy chọn khác */
.bestSellerSlider .productItem {
  padding: 10px;
}
.productItem{
    width: 100%;
    height: auto;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    position: relative;
}
.bestSellerSlider{
    margin-left: -50px;
}
.productItem  h4{
    font-size: 16px;
    font-weight:600;
    padding: 10px;
   
    
}
.productItem .info{
    padding:15px;
}

.oldPrice{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0,0,0,0.4);  
    text-decoration: line-through;
}
.info .oldPrice .lg{
    font-size: 16px;
    font-weight: bold;
}
.newPrice{
    font-size:20px;
    font-size:bold;
}
.info .newPrice .lg{
    font-size: 16px;
}
.productItem .badge{
    display: inline-block;
    padding: 7px 10px;
    position:absolute;
    top: 10px;
    left:10px;
    z-index:100
}
.badge-primary{
    background: #ea2b0f !important;
}
.productItem .actions{
    position: absolute;
    top:20px;
    right:-100%;
    z-index:100;
    display: flex;
    flex-direction:column;
    gap:10px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.productItem .imgWrapper:hover .actions{
    opacity: 1;
    right:10px;
}
.productItem .imgWrapper{
   overflow: hidden;
}
.productItem .actions button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px !important;
    height:40px !important;
    width:40px !important;
    border: 1px solid rgba(0,0,0,0.1) !important;
    border-radius: 50% !important;
    background: #fff !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%) , 0 1px 2px rgb(0 0 0 / 24%);
}
.product .actions button svg{
    color: #000 !important;   
    opacity: 1;               
    pointer-events: none;
    font-size: 16px !important;
    transition: all 0.3s !important;
}
.productItem .actions button:hover{
    background: #233a95 !important;
}
.productItem .actions button:hover svg{
    color:#fff;
}
.homeCat .container{
    width:90%;
    max-width: 100%;
    padding-left: 0;
    padding-right:0;
    margin:0;
}
.homeCat .swiper-wrapper {
  gap: 0 !important;           /* nếu swiper version mới có sử dụng gap */
  margin: 0 !important;
  padding: 0 !important;
}
.homeCat{
    width:100%;
    background-color: #fff;
    padding: 20px 10px;
}
.homeCat .swiper{
    width:100%;
    padding-left: 15px;
    overflow: inherit !important;
}
.homeCat .swiper-slide {
   width: auto !important;
}
.homeCat .item {
    width: 90px;              
    text-align: center;
    border-radius: 10px;
}
.homeCat .item img {
    width: 90px;              
    height: 90px;
    object-fit: contain;
    margin-bottom: 5px;
}
.homeCat .item h6 {
    font-size: 16px;
    margin: 0;
    color: #333;
}
.hd{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
}

.homeCat .swiper-button-prev, .homeCat .swiper-button-next{
    top:-30px !important;
    width: 30px !important;
    height: 30px !important;
    background-color: #f0faff;
    border-radius: 20px;

}
.homeCat .swiper-button-prev{
    left:inherit !important;
    right:50px;
   
}
.homeCat .swiper-button-prev::after, .homeCat .swiper-button-next::after{
    font-size:20px !important;
    font-weight: 700;
}
.homeCat .swiper-button-prev:hover, .homeCat .swiper-button-next:hover{
   background:#ea2b0f;
}
.productRow,
.productRow2 {
    min-height: 500px; /* Bạn có thể điều chỉnh chiều cao tùy thực tế */
}
.productRow2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:15px;
    margin-left: -50px;
}
.productRow2 .productItem {
   flex: 1 1 calc(26% - 10px); /* Chia đều sản phẩm */
   padding-left: 15px;
   padding-right: 15px;
   /* overflow: hidden; */
}  

.bannerSec {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    height: 240px;
}

.bannerSec .banner {
    flex: 1;
    max-width: 500%;
    height: 100%;
    
}

.bannerSec .banner img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    aspect-ratio: 2 / 1; /* Tỉ lệ 2:1, hoặc có thể là 16/9, tuỳ vào hình bạn muốn */
    border-radius: 8px; /* tuỳ chọn: giúp bo góc cho đẹp */
    transition: transform 0.3s ease;
}

.banner img:hover {
   
    cursor: pointer;
}
.bannerSec .banner .cursor{
    margin-left: 180px;
}
.sticky{
    position: sticky;
    top:10px;
    z-index: 100;
}

.newsLetterSection{
    width:100%;
    height:400px;
    background: #3c057e;
    position: relative;
}
.newsLetterSection p{
    font-size: 18px;
    margin: 10px 0px;
    top:20px;
}
.newsLetterSection h3{
    font-size: 35px;
    font-weight: bold;

}
.newsLetterSection p.text-light{
    color:#fff !important;
    opacity: 0.5;
    font-size:15px;
}
.newsLetterSection img{
    position: absolute;
    bottom: 0px;
    right:0px;
    width:500px;
    height: auto;
}
.newsLetterSection .col-md-6{
    position: static !important;
}
.newsLetterSection form{
    width:100%;
    height: 60px;
    background: #fff;
    padding:10px;
    position: relative;
    border-radius: 10px;
}
.newsLetterSection form svg{
    position: absolute;
    top: 17px;
    left: 10px;
    font-size: 25px;
    opacity: 0.3;
}
.newsLetterSection form input{
    width: 100%;
    height: 100%;
    background: #fff !important;
    outline: none !important;
    border: 0px !important;
    padding-left: 40px;
    padding-right: 200px;
}
.newsLetterSection form button{
    position: absolute;
    top: 7px;
    right: 7px;
    background: #0f288e !important;
    font-size: 16px 0 !important;
    padding: 10px 20px !important;
    color: #fff !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
}
footer{
    width: 100%;
    height: 500px;
    margin: auto;
    background: #fff;
    padding: 25px 0px;
}
footer .topInfo .col{
    padding: 10px 15px;
    border-right: 1px solid rgba(0,0,0,0.5);
    padding-left: 40px;

}
footer .topInfo{
    border-bottom: 1px solid rgba(0,0,0,0.5); 
    padding-bottom: 5px;
}
footer .topInfo .col svg{
    font-size: 30px;
}
footer .topInfo .col span{
    font-weight: 600;
}
footer .topInfo .col:last-child{
    border-right:0px ;
}
footer .linksWrap h5{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}
footer .linksWrap ul li{
    list-style: none;
    margin-bottom: 10px;
}
footer .linksWrap ul li a{
    color: #4b4646;
    font-size: 14px;
}
footer .copyright ul {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các biểu tượng */
}

footer .copyright ul li {
    list-style: none;
}
footer .copyright ul{
    margin-left: auto;
}
footer .copyright ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Kích thước biểu tượng */
    height: 40px;
    border-radius: 50%; /* Làm tròn biểu tượng */
    background-color: rgba(0, 0, 0, 0.1); /* Nền nhẹ cho biểu tượng */
    transition: background-color 0.3s ease;
}
footer .copyright ul li a svg{
    font-size: 30px;
}

.productModal .MuiPaper-elevation{
    padding: 25px;
    position: relative;
    max-width: 1000px !important;
    width: 900px !important;
}

.productModal h4{
    font-size: 20px !important;
    color: rgba(0,0,0,0.8);
}
.productZoom{
    width:100%;
    height:auto;
    border: 1px solid rgba(0,0,0,0,1);
    padding: 0px;
    overflow: hidden;
    border-radius: 15px;
}
.productZoom .badge{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
}
.zoomSliderBig{
    width: 100% !important;
}
.zoomSlider{
    padding-top: 30px;

}
.zoomSlider .slick-side{
    padding-right: 20px !important;
}
.zoomSlider *{
    outline: none !important;
}
.zoomSlider .item{
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    
}
.zoomSlider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 👈 đảm bảo ảnh không bị méo */
}
.zoomSlider .slick-current .item{
    border: 2px solid #3bb77e;
}
.zoomSlider .slick-arrow{
    top: 55% !important;
    zoom: 80% !important;
}
.zoomSlider .slick-arrow.slick-next{
    right: -2% !important;
}
.zoomSlider .slick-arrow.slick-prev{
    left: -5% !important;
}
.zoomSlider .slick-slide{
      margin-right: 0px;
}

.quantityDrop{
    width: 150px;
    gap:10px;
}
.quantityDrop button{
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background: #edeef5;
    border: 1px solid rgba(0,0,0,0.1);
    color: #000;
    
}
.quantityDrop button svg{
    color: #000 !important;
}
.quantityDrop input{
    width: 30px;
    border: 0px;
    background: transparent;
    outline: none;
    text-align: center;
}

.productModal .actions button{
    color: #000 !important;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 12px !important;

}
.productModal .actions button svg{
    font-size: 15px;

}

.product_Listing_Page .productListing{
    gap:20px;
    display: flex;

}
.product_Listing_Page .sidebar{
    width: 20%;
    flex: 0 0 20%;
}
.product_Listing_Page .sidebar .scroll{
    padding-left: 10px;
    max-height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.product_Listing_Page .sidebar .scroll::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}
.product_Listing_Page .sidebar .filterBox h6{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    
}
.product_Listing_Page .sidebar .filterBox{
    margin-bottom: 35px;
}
.product_Listing_Page .content_right{
    width: 80%;
    flex: 0 0 80%;
}
.product_Listing_Page .container {
    padding-left: 66px;
    margin-left: 66px;
}
.product_Listing_Page{
    padding: 35px 0px;
}
.product_Listing_Page .productListing .sidebar .scroll ul li{
    list-style: none;
    margin-bottom: 6px;
    width: 100%;
    
}
.range-slider .range-slider__thumb {
  width: 15px !important;
  height: 15px !important;
}
